
@import "../../lib/nib"

retina="(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi)"

grid(columns, w=1, m=2)
	display:inline-block
	vertical-align:top
	margin:m+0% 0 0 m+0%
	width:((100%/columns)*w)-((m*(columns+w))/columns)

::selection
	background: rgba(0,0,0,0.8)
	text-shadow: none
	color: #fff

brand=#7e312e

*
	box-sizing:     border-box
	text-rendering: optimizeLegibility
	position:       relative

img
	max-width: 100%
	border: none

a
	color:brand
	text-decoration:underline

html
	overflow-y: scroll
	font-family: Palatino
	color:rgba(#000,.9)
	font-size:22px
	@media screen and (max-width: 1170px)
		font-size:20px
	@media screen and (max-width: 1050px)
		font-size:18px
	@media screen and (max-width: 940px)
		font-size:16px
	@media screen and (max-width: 850px)
		font-size:14px


body
	margin: 0
	line-height:1.5
	background:#f2ede0 url(bg.png)
	background-size:200px 200px

html,body
	min-height: 100%

h1,h2,h3,h4
	font-variant:small-caps
h2
	font-size:2.5em
	margin:0

header
	padding:1em
	padding-bottom:2em
	padding-top:125px
	width:100%
	//height:225px
	z-index:1
	text-align:center
	background:rgba(#fff,.4)
	h1
		font-weight:normal
		font-size:4em
		margin:0
		margin-bottom:-.3em
	img
		opacity:.9
.sub
	font-style: italic
	font-size:1.4em

nav
	background:black
	text-align:center
	padding:0.5em
	a
		color:white
		padding:0 4em
		text-decoration:none

main,section
	padding:3em 0
main
	width:100%
	display:block
	//background:#f2ede0
	background:#fff
	background:rgba(#fff,.8)
	background-size:contain

.deco
	height:100%
	position:absolute
	right:0
	top:0
	padding:1em 0
	text-align:center
	width:100%
	img
		max-height:100%

section
	width:50%
	display:inline-block
	vertical-align:top
	padding:3em 9%
	h2 img
		width:40%
		float:right
		margin:0 0 8px 8px
.mobile
	display:none

.logo
	text-align:center
	position:absolute
	width:100%
	top:-125px
	left:0
.logo img
	width:250px
@media screen and (max-width: 950px)
	header
		padding-top:100px
	.logo
		top:-100px
	.logo img
		width:200px
@media screen and (max-width: 680px)
	header
		padding-top:70px
	.logo
		top:-70px
	.logo img
		width:140px


@media screen and (max-width: 735px)
	section
		width:60%
	.deco
		width:40%
@media screen and (max-width: 580px)
	.sub
		font-size:1.2em
	section
		width:70%
		padding:1em 9%
	.deco
		width:30%
@media screen and (max-width: 500px)
	section
		width:100%
	.deco
		display:none
	header h1
		font-size:3em
	.sub
		font-size:1em
	
.banner
	content:""
	box-shadow:inset 0 0 20px rgba(#000,0.4)
	width:100%
	padding-top:25%
	background:url(banner.jpg) center
	background-size:cover

.ratio-wrap
	display:inline-block

.ratio-wrap:before
	content:""
	display:block

.ratio-inner
	position:absolute
	top:0
	left:0
	width:100%
	height:100%

.shadow
	box-shadow:0 0 5px rgba(#000,.2)
	border:solid 8px #fff
	transform:rotate(2deg)

.spacer
	height:208px
	background:rgba(#fff,.4)

.clearfix:after
	content: ""
	display: table
	clear: both
