::selection {
  background: rgba(0,0,0,0.8);
  text-shadow: none;
  color: #fff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  position: relative;
}
img {
  max-width: 100%;
  border: none;
}
a {
  color: #7e312e;
  text-decoration: underline;
}
html {
  overflow-y: scroll;
  font-family: Palatino;
  color: rgba(0,0,0,0.9);
  font-size: 22px;
}
@media screen and (max-width: 1170px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 1050px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 940px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  html {
    font-size: 14px;
  }
}
body {
  margin: 0;
  line-height: 1.5;
  background: #f2ede0 url("bg.png");
  -webkit-background-size: 200px 200px;
  -moz-background-size: 200px 200px;
  background-size: 200px 200px;
}
html,
body {
  min-height: 100%;
}
h1,
h2,
h3,
h4 {
  font-variant: small-caps;
}
h2 {
  font-size: 2.5em;
  margin: 0;
}
header {
  padding: 1em;
  padding-bottom: 2em;
  padding-top: 125px;
  width: 100%;
  z-index: 1;
  text-align: center;
  background: rgba(255,255,255,0.4);
}
header h1 {
  font-weight: normal;
  font-size: 4em;
  margin: 0;
  margin-bottom: -0.3em;
}
header>img {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.sub {
  font-style: italic;
  font-size: 1.4em;
}
nav {
  background: #000;
  text-align: center;
  padding: 0.5em;
}
nav a {
  color: #fff;
  padding: 0 4em;
  text-decoration: none;
}
main,
section {
  padding: 3em 0;
}
main {
  width: 100%;
  display: block;
  background: #fff;
  background: rgba(255,255,255,0.8);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.deco {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
.deco img {
  max-height: 100%;
  height: 100%;
}
section {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 3em 9%;
}
section h2 img {
  width: 40%;
  float: right;
  margin: 0 0 8px 8px;
}
.mobile {
  display: none;
}
.logo {
  text-align: center;
  position: absolute;
  width: 100%;
  top: -125px;
  left: 0;
}
.logo img {
  width: 250px;
}
@media screen and (max-width: 950px) {
  header {
    padding-top: 100px;
  }
  .logo {
    top: -100px;
  }
  .logo img {
    width: 200px;
  }
}
@media screen and (max-width: 680px) {
  header {
    padding-top: 70px;
  }
  .logo {
    top: -70px;
  }
  .logo img {
    width: 140px;
  }
}
@media screen and (max-width: 735px) {
  section {
    width: 60%;
  }
  .deco {
    width: 40%;
  }
}
@media screen and (max-width: 580px) {
  .sub {
    font-size: 1.2em;
  }
  section {
    width: 70%;
    padding: 1em 9%;
  }
  .deco {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  section {
    width: 100%;
  }
  .deco {
    display: none;
  }
  header h1 {
    font-size: 3em;
  }
  .sub {
    font-size: 1em;
  }
}
.banner {
  content: "";
  -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
  width: 100%;
  padding-top: 25%;
  background: url("banner.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ratio-wrap {
  display: inline-block;
}
.ratio-wrap:before {
  content: "";
  display: block;
}
.ratio-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shadow {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border: solid 8px #fff;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.spacer {
  height: 208px;
  background: rgba(255,255,255,0.4);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
