
@import '../lib/nib'

retina="(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi)"

grid(columns, w=1, m=2)
	display:inline-block
	vertical-align:top
	margin:m+0% 0 0 m+0%
	width:((100%/columns)*w)-((m*(columns+w))/columns)

::selection
	background: rgba(0,0,0,0.8)
	text-shadow: none
	color: #fff

brand=#d00

*
	box-sizing:     border-box
	text-rendering: optimizeLegibility
	position:       relative

img
	max-width: 100%
	border: none

a
	color:brand
	text-decoration:underline

html
	overflow-y: scroll
	font-family: Palatino
	color:rgba(#000,.9)
body
	margin: 0
	line-height:1.5
	background:#f2ede0 url(bg.png)
	background-size:200px 200px

html,body
	min-height: 100%

h1,h2,h3,h4
	font-variant:small-caps
h2
	font-size:2.5em
	margin:0

header
	padding:1em
	padding-bottom:2em
	width:100%
	//height:225px
	z-index:1
	text-align:center
	background:rgba(#fff,.6)
	h1
		font-weight:normal
		font-size:4.375em
		margin:0
		margin-bottom:-.3em
	img
		opacity:.9
	.sub
		font-style: italic
		font-size: 1.4em

nav
	background:black
	text-align:center
	padding:0.5em
	a
		color:white
		padding:0 4em
		text-decoration:none

main,section
	padding:1em 5%
main
	width:100%
	display:block
	//background:#f2ede0
	background:#fff

section
	width:50%
	display:inline-block
	vertical-align:top
	img
		width:40%
		float:right
		margin:0 0 .5em .5em

@media screen and (max-width: 1043px)
	section
		width:100%
	main,section
		padding:1em 15%
@media screen and (max-width: 856px)
	main,section
		padding:1em 10%
@media screen and (max-width: 676px)
	main,section
		padding:1em 1em
	header
		font-size:.66em
@media screen and (max-width: 502px)
	section>img
		float:none
		display:block
		widhth:50%

.banner
	content:""
	box-shadow:inset 0 0 30px rgba(#000,0.6)
	width:100%
	padding-top:25%
	background:url(banner.jpg) center
	background-size:cover

.ratio-wrap
	display:inline-block

.ratio-wrap:before
	content:""
	display:block

.ratio-inner
	position:absolute
	top:0
	left:0
	width:100%
	height:100%

.shadow
	box-shadow:0 0 5px rgba(#000,.2)
	border:solid .5em #fff
	transform:rotate(2deg)

.spacer
	height:208px
	background:rgba(#fff,.6)